<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ruizhi Cheng</title>
    <meta name="description" content="Ruizhi Cheng's Homepage" />
    <meta name="keywords" content="Ruizhi Cheng" />
    <meta name="author" content="Ruizhi Cheng">
    <meta name="google-site-verification" content="uzCuyuDeIcvIgSEYbxpHc9oCNI7Y2i4njSwS563f4EY" />

    <!-- <link rel="stylesheet" href="static/css/font-awesome/static/css/font-awesome.min.css"> -->
    <script src="https://kit.fontawesome.com/2e3694663a.js"></script>
    <link href="static/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link href="static/css/lightbox.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400&family=Raleway:wght@400;500&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/lightbox.js"></script>
    <script src="static/js/main.js"></script>

</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div class="avatar">
                    <span class="left"><img width="1000px" src="./photo/ruizhi.png" alt="personal image" /></span>
                </div>
                <div class="name">
                    <h1>Ruizhi Cheng, Ph.D.
                    </h1>
                    <br>
                    <h2>Applied Scientist</h2>
                    <h2><a href='https://en.wikipedia.org/wiki/Amazon_(company)'>Amazon</a></h2> 
                    <!-- <h2><a href='https://en.wikipedia.org/wiki/Meta_Platforms'>Meta Platforms, Inc.</a></h2> -->
                    <!-- <h2><a>Fairfax, VA, USA</a></h2> -->
                    <!-- <br> -->
                    <!-- <h2>Currently working as a Researcher at <a href="https://en.wikipedia.org/wiki/Meta_Platforms">Meta</a> -->
                        
                     <h2>Seattle, WA, USA</h2>
                     <br>
                        <h2>
                    <!-- <a href="cv/Ruizhi_Cheng_CV.pdf">[CV]</a> -->
                     <a target='blank' href="https://scholar.google.com/citations?user=u0ZFxFsAAAAJ&hl=en">[Google
							Scholar]</a>

                        <a target='blank' href="https://www.linkedin.com/in/ruizhi-cheng/">[LinkedIn]</a>
                        <a target='blank' href="https://github.com/RayShing">[Github]</a>


                    </h2>

                     
                </div>
                <!-- <div class="map">
                    <span class="right">
                <a href="https://mapmyvisitors.com/web/1c2tq"  title="Visit tracker">
                    <img width="300px" src="https://mapmyvisitors.com/map.png?d=3r3UX8I_EqT-pIkbCTRJsBVhryIwUPwUo6qiCSCGr_4&cl=ffffff" alt="map" />
                </a>
                </span>
                </div>  -->

            </div> <!-- closes #logo -->
        </div> <!-- closes #header -->
        

<div id="site_content">

    <a name="intro" style="text-decoration: none">
        <h1>Introduction</h1>
    </a>

    <p class="text_block">
        I joined
        <a href="https://en.wikipedia.org/wiki/Amazon_(company)">Amazon</a>
        as an Applied Scientist in July 2026. Previously, I worked at
        <a target="_blank" href="https://en.wikipedia.org/wiki/Meta_Platforms">
            Meta Platforms, Inc.
        </a>
        from July 2025 to June 2026. I received my Ph.D. in Computer Science in 2026
        and my B.S. in Computer Science in 2021.
    </p>

    <!-- <p class="text_block">
        My research focuses on the co-design of multimodal foundation models and
        networked systems, with the goal of improving how people perceive, interact
        with, and experience the digital world.
    </p> -->

    <p class="text_block">
    I was trained as a systems researcher. During my Ph.D., I published
    <b>25 papers</b> in systems venues, including
    <b>15 papers at top conferences</b> as defined by
    <a href="https://csrankings.org">CSRankings</a>.
    Among them, <b>14 are first-author papers</b>, including
    <b>8 at top conferences</b>. I spent the final year of my Ph.D. at Meta,
    where I published four papers, including two at top-tier conferences,
    and contributed to internal product improvements driven by my research efforts.
    As of August 2026, my publications have received
    <b>981 citations</b>, including <b>864 citations</b> to my first-author work.
</p>

   <p class="text_block">
    I am now focused on translating research insights into real-world product impact
    by addressing bottlenecks in large-scale AI systems deployed globally.
    Many of the most important challenges emerge only when systems operate at massive scale.
    As publications are no longer a primary focus of my
    career, this website will be updated less frequently.
</p>



            <a name='pub' style='text-decoration: none;'>
<!--                <h1><i class="fa fa-file-text"></i> Publications</h1>--> 
            <h1>Selected Publications</h1>
            
            </a>
         
            <div class="text_block">
                Publications marked with * indicate acceptance at top-tier conferences (per <a href="https://csrankings.org">CSRankings</a>).
                <br>
                For a complete list of my publications, please visit my <a target="_blank" href="https://scholar.google.com/citations?user=u0ZFxFsAAAAJ&hl=en">Google Scholar</a> and <a target="_blank" href="https://dblp.org/pid/312/6541.html">DBLP</a> profiles.
                
                <br>
            </div>
            <br>

        <div class="text_block">
                [<span class="booktitle">ACM SIGCOMM 2026 (*)</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/SIGCOMM_2026_lite.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng</u>, Harshvardhan Takawale, Nan Wu, Nirupam Roy, Sennur Ulukus, Matteo Varvello, Bo Han. "<a target="_blank" href="https://doi.org/10.1145/3789240.3829116">LITE: Loss-resilient Immersive Telepresence with Multi-modal Semantics</a>"
                <br><br>
            </div>

 <div class="text_block">
                [<span class="booktitle">ACM IMC 2026 (*)</span>]
                <a class="btn btn-primary-outline btn-meta" href="">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng</u>, Guowu Xie, Bo Han. "<a target="_blank" href="">Can You See Me, GenAI? Characterizing Video-Based Conversational Interaction with Generative AI</a>"
                <br><br>
            </div>

            <div class="text_block">
                [<span class="booktitle">ACM IMC 2025 (*)</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/IMC_2025_genai.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng</u>, Guowu Xie, Matteo Varvello, Songqing Chen, Bo Han. "<a target="_blank" href="https://doi.org/10.1145/3730567.3764441">Hello, GenAI? Dissecting Human to Generative AI Calling</a>"
                <br><br>
            </div>
            

            <div class="text_block">
                [<span class="booktitle">ACM SenSys 2024 (*)</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/SenSys_2024_MagicStream.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng</u>, Nan Wu, Vu Le, Matteo Varvello, Bo Han. "<a target="_blank" href="https://dl.acm.org/doi/10.1145/3666025.3699344">MagicStream: Bandwidth-conserving Immersive Telepresence via Semantic Communication</a>"
                <font color = "red">[Best Paper Runner-up]</font>
                <br><br>
            </div>

            <div class="text_block">
                [<span class="booktitle">ACM SenSys 2024 (*)</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/SenSys_2024_MetaFL.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng</u>, Yuetong Wu, Ashish Kundu, Hugo Latapie, Myungjin Lee, Songqing Chen, Bo Han. "<a target="_blank" href="https://dl.acm.org/doi/10.1145/3666025.3699322">MetaFL: Privacy-preserving User Authentication in Virtual Reality with Federated Learning</a>"
                <br><br>
            </div>

            <div class="text_block">
                [<span class="booktitle">ACM IMC 2024 (*)</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/IMC_2024_Vision_Pro.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng*</u>, Nan Wu*, Matteo Varvello, Songqing Chen, Bo Han. "<a target="_blank" href="https://doi.org/10.1145/3646547.3689006">A First Look at Immersive Telepresence on Apple Vision Pro</a>"
                <br>*: Equal contribution.
                <br><br>
            </div>

            <div class="text_block">
                [<span class="booktitle">IEEE VR 2024 (*)</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/VR_2024_Hubs.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <a class="btn btn-primary-outline btn-meta" href="https://github.com/RayShing/Hubs_VR2024"><i
                    class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                <br>
                <u>Ruizhi Cheng</u>, Erdem Murat, Lap-Fei Yu, Songqing Chen, Bo Han. "<a target="_blank" href="https://ieeexplore.ieee.org/document/10494173">Understanding Online Education in Metaverse: Systems and User Experience Perspectives</a>"
                <br><br>
            </div>
            


        <div class="text_block">
    [<span class="booktitle">ACM IMC 2022 (*)</span>]
            <a class="btn btn-primary-outline btn-meta" href="./papers/IMC_2022_Metaverse.pdf">

                <i class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>


                 <a class="btn btn-primary-outline btn-meta" href="https://github.com/RayShing/Metaverse_IMC2022"><i
                            class="fa fa-solid fa-code">&nbsp;</i>Code</a>
        <br>
                <u>Ruizhi Cheng</u>, Nan Wu, Matteo Varvello, Songqing Chen, Bo Han.
            "<a target="_blank" href="https://dl.acm.org/doi/abs/10.1145/3517745.3561417">Are We Ready for Metaverse? A Measurement Study of Social Virtual Reality Platforms</a>"

           <br><br>
           </div>
          


            <a name='services' style='text-decoration: none'>
                <h1> Professional Services</h1>
            </a>


            <p class='text_block'>
                <span class="subtitle2">Technical Program Committee</span> <br>
                <a target="_blank" href="https://immercom.github.io/">ACM ImmerCom</a>
            </p>

            
            <p class='text_block'>
                <span class="subtitle2">Selected Review Experience</span> <br>
                    IEEE/ACM Transactions on Networking (ToN), ACM Transactions on Graphics (ToG), IEEE Internet of Things Journal (IoT-J)
                    <br>
                    ACM UbiComp, IEEE VR
           
                 
                    
            </p>
            <a name="misc" style="text-decoration: none">
            <h1>Miscellaneous</h1>
            </a>

            <p class="text_block">
            <a target="_blank" href="./papers/dissertation_ack.pdf">
            Acknowledgments in My Ph.D. Dissertation
            </a>
            </p>


        </div>
        <!-- End of content -->
        <div id="footer">
            <p>
               
                Last Updated: 07/2026</p>


        </div>


    </div>
</body>

</html>